*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* Main Container */
.container{
    background: white;
    width: 100%;
    max-width: 450px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}

/* Heading */
h1{
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

/* Input Section */
.input-section{
    display: flex;
    gap: 10px;
}

/* Input Box */
#taskInput{
    flex: 1;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

/* Add Button */
#addBtn{
    padding: 12px 18px;
    background: #4facfe;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

#addBtn:hover{
    background: #2196f3;
}

/* Filter Buttons */
.filter-section{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.filter-btn{
    padding: 10px 15px;
    border: none;
    background: #eeeeee;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.filter-btn:hover{
    background: #cccccc;
}

/* Task List */
#taskList{
    list-style: none;
    margin-top: 25px;
}

/* Each Task */
.task-item{
    background: #f7f7f7;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Task Text */
.task-item span{
    cursor: pointer;
    font-size: 16px;
}

/* Completed Task */
.completed{
    text-decoration: line-through;
    color: gray;
}

/* Delete Button */
.task-item button{
    background: red;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.task-item button:hover{
    opacity: 0.8;
}
.footer{
    text-align: center;
    margin-top: 20px;
    color: #777;
    font-size: 14px;
}
.instruction{
    text-align: center;
    color: #666;
    margin-bottom: 15px;
    font-size: 14px;
}